
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>好きなもの</title>
    <link rel="stylesheet" href="sukinamono.css">
  </head>
  <body>
    <h1 id="ue">笠井のホームページ</h1>
    <nav>
      <ul>
      <li><a href="myworld.html" class="btn-square">TOP</a></li>
      <li><a href="kihon.html" class="btn-square">基本情報</a></li>
      <li><a href="sukinamono.html" class="btn-square">好きなもの</a></li>
      <li><a href="yokatta.html" class="btn-square">最近よかったもの</a></li>
      </ul>
    </nav>

    <article class="">

    <h2>好きなもの</h2>
    <p><img src="kao.png" width=55>好きなもの！たくさんあります。ジャンル別に、一本選び抜いて書いていきます<p>

    <li><a href="#suki-game">ゲーム<a></li>
    <li><a href="#suki-honn">本<a></li>
    <li><a href="#suki-manga">漫画<a></li>
    <li><a href="#suki-bordgame">ボードゲーム<a></li>
    <li><a href="#suki-ongaku">音楽<a></li>

<br>
<br>
    <h3 id="suki-game">好きなゲーム一本</h3>
    <h4><a href="https://www.d3p.co.jp/edf5/" target="_blank">
      <img src="game02.jpg" height="150"><img src="game01.jpg" height="150">
      地球防衛軍５ <small>&copy;SANDROT &copy;D3 PUBLISHER</small></a></h4>

      <p><img src="kao.png" width=55>絶望的な戦力差を持つ宇宙の侵略者から地球を守れ！地球防衛軍シリーズの最新作です。<br>&ensp;アクションゲームですが、戦略的に敵とあたらないといけないシミュレーションとしての側面もあって楽しいです。</p>
      <p><img src="kao.png" width=55>とにかく敵の数が多い。<b>PS4 Proですら容易に処理落ちを起こす(！)</b>、地獄のような相手の攻勢を凌ぎ切る爽快感は中々味わえません。<br>&ensp;真面目にとことん突き詰めて、突き抜け切ったバカゲーの極致です。大好き。</p>
<br>
      <a href="#ue">ページの上へ戻る<a>
<br>
<br>
<br>
<br>
    <h3 id="suki-honn">好きな本一冊</h3>
    <h4><a href="https://www.amazon.co.jp/%E3%82%B8%E3%80%81%E3%82%A8%E3%82%AF%E3%82%B9%E3%83%88%E3%83%AA%E3%83%BC%E3%83%A0%E3%80%81%E3%82%B9%E3%82%AD%E3%83%A4%E3%82%AD-%E5%89%8D%E7%94%B0-%E5%8F%B8%E9%83%8E/dp/4087715027" target="_blank">
      <img src="honn01.jpg" height="300">
      ジ・エクストリーム・スキヤキ <small>&copy;前田司郎</small></a></h4>

      <p><img src="kao.png" width=55>リアルな思考が駄々洩れのような一人称視点の文体で、延々と、その人たちの今を書いていく小説です。<br>&ensp;久しぶりに再開した大学時代の友人たちは、その場にいない「あいつ」を時折思い出しながら、なんとなく旅をします。</p>
      <p><img src="kao.png" width=55>作者は五反田団という劇団の主宰の方です。すべてが生々しく映る舞台表現において、「隠すこと」が表現になるという確信を持った上で、この小説を実現させています。</p>
      <p><img src="kao.png" width=55>映像化もされていますが、小説としてとってもおすすめです。</p>
<br>
      <a href="#ue">ページの上へ戻る<a>
<br>
<br>
<br>
<br>
    <h3 id="suki-manga">好きな漫画一本</h3>
    <h4><a href="http://www.araki-jojo.com/" target="_blank">
      <img src="manga01.jpg" height="300">
      ジョジョの奇妙な冒険 <small>&copy;荒木飛呂彦</small></a></h4>

      <p><img src="kao.png" width=55>言わずもがなの名作です。<br>&ensp;何度読み返そうとも、未だ語りきれぬ魅力が発掘できます。</p>
      <p><img src="kao.png" width=55>バトルの緊張感にサスペンス&amp;スリルを見事に融合させる演出力！<br>&ensp;それを描き切る圧倒的筆力と、個性的であり伝統的でもある美的センス！！<br>&ensp;たまんねぇッすよ～～～</p>
      <p><img src="kao.png" width=55>なんだかんだ4部が好きです。でも全部好き。</p>
      <p><img src="kao.png" width=55>現行の8部、ジョジョリオンはサスペンス要素がかなり強まっていて、作者の作品を面白くする姿勢の強さ・ブレなさを感じます。<br>&ensp;ジョジョ好きだけど8部だけ読んでない方は読んで！</p>

        <br>
              <a href="#ue">ページの上へ戻る<a><br>
<br>
<br>
<br>
    <h3 id="suki-bordgame">好きなボードゲーム一本</h3>
    <h4><a href="https://www.amazon.co.jp/Xaquinel-%E7%8B%A9%E6%AD%8C-CARU-UTA-%E5%9F%BA%E6%9C%AC%E3%82%BB%E3%83%83%E3%83%88/dp/B01LXQLZB6" target="_blank">
      <img src="bord01.jpg" height="200"><img src="bord02.jpg" height="200">
      狩歌 <small>&copy;Xaquinel</small></a></h4>

      <p><img src="kao.png" width=55>ボードゲームとはなんぞや。その場の人間の思考をわかりあいながら競い合うことです。<br>&ensp;わかりあうための道として、その人の趣味趣向を共有することは、大切なやりかたのひとつでしょう。</p>
      <p><img src="kao.png" width=55>狩歌は、それぞれが好きな歌を流し、その<b>歌詞で「かるた」をする</b>というゲームです。<br>&ensp;自分が歌詞を覚えている歌で挑むもよし。これが好きだ！と聞かせる場にするもよし。</p>
      <p><img src="kao.png" width=55>なんとなく知っていた、くらいの曲でも、「歌詞を聞き取ろうとする」姿勢できくと、改めてその魅力に気づけたり。<br>&ensp;大作ゲームではないですが、みんなで楽しめるよい体験型ゲームです。</p>
      <br>
            <a href="#ue">ページの上へ戻る<a><br>
<br>
<br>
<br>
    <h3 id="suki-ongaku">好きな音楽一本</h3>
    <h3>andymori</h3>
    <h4><iframe width="400" height="300"  src="https://www.youtube.com/embed/TQ7L5Iqhst8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </h4>

      <p><img src="kao.png" width=55>音楽に造詣は深くなく、なんといえばよいのかわからないですが、とにかく好き。<br>&ensp;ゆらりとしたどこか現実感のない、だけど力強い声が、優しさと厭世観を両立した歌詞の世界観を強めています。</p>
      <p><img src="kao.png" width=55>この曲は奥田民生の「イージュー★ライダー」を意識した曲だと考えています。（個人的に）<br>&ensp;</p>
      <p><img src="kao.png" width=55>フロントマンの小山田壮平の自殺未遂などもあり解散しましたが、現在は<b>”AL”</b>という新しいバンドで活躍しています。そちらもおすすめ。<br>&ensp;</p>
      <iframe width="400" height="300" src="https://www.youtube.com/embed/IzFlNf1aGnM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br>
      <br>
            <a href="#ue">ページの上へ戻る<a><br>
<br>

  </article>
  </body>
</html>
